*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

ul{
  list-style: none;
}

.input-container{
  display: flex;
}

.task-item{
  display: flex;
  background-color: rgb(128, 128, 255);
}

.task-remove{
  padding-left: 20px;
  margin-left: auto;
}

.task-done{
  text-decoration: line-through;
  font-style: italic;
  color: rgba(0, 0, 0, 0.438);
}

.task-add{
  padding-left: 20px;
}